<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>op.gg</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style type="text/css">
        body {
            background: linear-gradient(52deg, #5383e8, #3991ef 31%, #3892f0 32%, #3594f1 36%, #00b2ff)
        }
    </style>
</head>
<body>
    <div class ="1-wrap 1-wrap--index">
        <div class = "1-header">
            <div class = "header">
                <ul class = "sites">
                    <li class = "site site--currnet site--border">
                        <a href="www.op.gg">
                            <img src="//opgg-static.akamaized.net/images/logo/logo-lol.png" alt="opgg" class="site__logo">
                            <img src="//opgg-static.akamaized.net/images/logo/l_logo.png">
                            
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-6 offset-3" style="height:400px">
        <img src="https://attach.s.op.gg/logo/20190116130732.202e95cdd4c55b505438ecb77b263fff.PNG" title="진, 커튼콜" alt="OP.GG Logo (진, 커튼콜)" class="Image">
    </div>
    <div class="row">
        <form action="/summoner" style="width:1000px" class="d-flex justify-content-center">
            <input class="col-8" type="text" name="summoner" placeholder="소환사명"/>
            <input class="col-2 btn btn-primary" type="submit" value="검색"/>
        </form>
    </div>
    
</body>
</html>